/* _content/CompanyApp.Infrastructure.Monitoring/Component1.razor.rz.scp.css */
.my-component[b-w7e7xjzc2h] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
